<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_JUoz0LoKEemC0usMCGlIzw" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="blinky">
    <regions xmi:id="_JUoz2roKEemC0usMCGlIzw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_JUoz5LoKEemC0usMCGlIzw">
        <outgoingTransitions xmi:id="_JUo0ALoKEemC0usMCGlIzw" target="_JUoz8LoKEemC0usMCGlIzw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_JUoz8LoKEemC0usMCGlIzw" name="StateA" incomingTransitions="_JUo0ALoKEemC0usMCGlIzw">
        <outgoingTransitions xmi:id="_qnamoLoLEemC0usMCGlIzw" specification="" target="_oxowwLoLEemC0usMCGlIzw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_oxowwLoLEemC0usMCGlIzw" name="StateB" incomingTransitions="_qnamoLoLEemC0usMCGlIzw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_JUoz17oKEemC0usMCGlIzw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_JUoz0LoKEemC0usMCGlIzw" measurementUnit="Pixel">
    <children xmi:id="_JUoz27oKEemC0usMCGlIzw" type="Region" element="_JUoz2roKEemC0usMCGlIzw">
      <children xsi:type="notation:DecorationNode" xmi:id="_JUoz3roKEemC0usMCGlIzw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JUoz37oKEemC0usMCGlIzw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JUoz4LoKEemC0usMCGlIzw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_JUoz4boKEemC0usMCGlIzw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_JUoz5boKEemC0usMCGlIzw" type="Entry" element="_JUoz5LoKEemC0usMCGlIzw">
          <children xmi:id="_JUoz6boKEemC0usMCGlIzw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_JUoz7LoKEemC0usMCGlIzw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JUoz7boKEemC0usMCGlIzw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_JUoz7roKEemC0usMCGlIzw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JUoz6roKEemC0usMCGlIzw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUoz67oKEemC0usMCGlIzw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JUoz5roKEemC0usMCGlIzw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_JUoz57oKEemC0usMCGlIzw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUoz77oKEemC0usMCGlIzw" x="70" y="20"/>
        </children>
        <children xmi:id="_JUoz87oKEemC0usMCGlIzw" type="State" element="_JUoz8LoKEemC0usMCGlIzw">
          <children xsi:type="notation:DecorationNode" xmi:id="_JUoz97oKEemC0usMCGlIzw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JUoz-LoKEemC0usMCGlIzw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JUoz-boKEemC0usMCGlIzw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JUoz-roKEemC0usMCGlIzw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JUoz-7oKEemC0usMCGlIzw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUoz_LoKEemC0usMCGlIzw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JUoz_boKEemC0usMCGlIzw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JUoz9LoKEemC0usMCGlIzw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JUoz9boKEemC0usMCGlIzw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JUoz_roKEemC0usMCGlIzw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUoz_7oKEemC0usMCGlIzw" x="40" y="80"/>
        </children>
        <children xmi:id="_ox0-ALoLEemC0usMCGlIzw" type="State" element="_oxowwLoLEemC0usMCGlIzw">
          <children xsi:type="notation:DecorationNode" xmi:id="_ox0-BLoLEemC0usMCGlIzw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ox0-BboLEemC0usMCGlIzw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ox0-BroLEemC0usMCGlIzw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ox0-B7oLEemC0usMCGlIzw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ox0-CLoLEemC0usMCGlIzw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ox0-CboLEemC0usMCGlIzw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ox0-CroLEemC0usMCGlIzw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ox0-AboLEemC0usMCGlIzw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ox0-AroLEemC0usMCGlIzw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ox0-C7oLEemC0usMCGlIzw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ox0-A7oLEemC0usMCGlIzw" x="222" y="101"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUoz4roKEemC0usMCGlIzw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_JUoz3LoKEemC0usMCGlIzw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUoz47oKEemC0usMCGlIzw" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_JUo0CLoKEemC0usMCGlIzw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_JUo0CroKEemC0usMCGlIzw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JUo0C7oKEemC0usMCGlIzw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JUo0DLoKEemC0usMCGlIzw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_JUo0DboKEemC0usMCGlIzw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUo0DroKEemC0usMCGlIzw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUu6cLoKEemC0usMCGlIzw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JUoz2LoKEemC0usMCGlIzw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_JUoz2boKEemC0usMCGlIzw"/>
    <edges xmi:id="_JUo0AboKEemC0usMCGlIzw" type="Transition" element="_JUo0ALoKEemC0usMCGlIzw" source="_JUoz5boKEemC0usMCGlIzw" target="_JUoz87oKEemC0usMCGlIzw">
      <children xsi:type="notation:DecorationNode" xmi:id="_JUo0BboKEemC0usMCGlIzw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JUo0BroKEemC0usMCGlIzw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JUo0B7oKEemC0usMCGlIzw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JUo0AroKEemC0usMCGlIzw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JUo0BLoKEemC0usMCGlIzw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JUo0A7oKEemC0usMCGlIzw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_qnamoboLEemC0usMCGlIzw" type="Transition" element="_qnamoLoLEemC0usMCGlIzw" source="_JUoz87oKEemC0usMCGlIzw" target="_ox0-ALoLEemC0usMCGlIzw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qnampboLEemC0usMCGlIzw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qnamproLEemC0usMCGlIzw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qnamp7oLEemC0usMCGlIzw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qnamoroLEemC0usMCGlIzw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qnampLoLEemC0usMCGlIzw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qnamo7oLEemC0usMCGlIzw" points="[0, 0, -154, -18]$[152, 42, -2, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qngtQLoLEemC0usMCGlIzw" id="(1.0,0.5660377358490566)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
